.venv 
.env 
.vscode 
__pycache__
/pgdata
*.db
/wannapop/static/uploads/*
!wannapop/static/uploads/Admin223.jpg
!wannapop/static/uploads/producto.jpg
!wannapop/static/uploads/User223.png
app.log*
/mysql_data
