{% extends './base.html' %}
{% block title %}Editar Perfil{% endblock %}
{% block body %}
<main class="container py-5 min-vh-100 d-flex justify-content-center align-items-center">
    <div class="card shadow-lg p-4" style="max-width: 450px; width: 100%;">
        <h2 class="text-center mb-4">Editar Perfil</h2>

        <form data-aviso-cambios method="POST" enctype="multipart/form-data" class="d-flex flex-column gap-3">
            {{ form.hidden_tag() }}

            <div class="text-center">
                <img src="{{ url_for('static', filename='uploads/' ~ current_user.avatar) }}"
                    alt="{{ current_user.name }}" class="rounded-circle mb-3"
                    style="width: 150px; height: 150px; object-fit: cover;">
            </div>

            <div class="form-group">
                {{ form.avatar.label(class="form-label") }}
                {{ form.avatar(class="form-control") }}
            </div>

            <div class="form-group">
                {{ form.name.label(class="form-label") }}
                {{ form.name(class="form-control") }}
            </div>
            
            <div class="form-group">
                {{ form.email.label(class="form-label") }}
                {{ form.email(class="form-control") }}
            </div>
            

            <div class="d-flex justify-content-between mt-3">
                <a data-cancelar href="{{ url_for('routes_profile.profile') }}" class="btn btn-secondary">Cancelar</a>
                {{ form.submit(class="btn btn-dark") }}
            </div>
        </form>

    </div>
</main>
{% endblock %}